body {
    background: #b9b9b9;
    color: #000000;
    font-family: monospace;
}

h1 {
    text-align: center;
}

#task-form {
    width: 50%;
    margin: 0 auto;
}

#task-list li {
    display: block;
    width: max-content;
}

.remove:hover {
    color: rgb(255, 0, 0);
    text-decoration: line-through;
}