body {
    background: #b9b9b9;
    color: #000000;
    font-family: monospace;
}

h1 {
    text-align: center;
}

.btn {
    display: block;
    margin: 0 auto;
}

#overlay {
    display: none;
    background: #000000c4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#modal {
    display: none;
    background: #fff;
    padding: 1.5rem;
    text-align: center;
    border-radius: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overlay.visible, #modal.visible {
    display: block;
}

